  
    <footer class="back_color">

        <section class="container">
            <div class="container-box">
                <svg xmlns="http://www.w3.org/2000/svg" width="130" height="80" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                  </svg>
                <h2>Email</h2>
                <p>anselmoahmed@gmail.com</p>
            </div> <!--container-box-->
            
        </section> <!--container-->
     
           <section class="container mb-3  border-2 border-bottom">
            <div class="row font">
                <div class="col col-md-6">
                    <img src="/img/logo.png" alt="">
                    <p style="word-wrap:break-word ;">The effectiveness of Optical Character Recognition depends on the quality of the image you’re working with. After you paste text from a picture or a file printout, it’s a good idea to look it over and make sure the text was recognized properly.</p>
                </div> <!-- col-6-->

                <!-- <div class="col col-md-3 col-xs-3">
                    <img src="//img/logo.png" alt="">
                    <p style="word-wrap:break-word ;">kjfdshgfds Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet facilis corrupti aperiam ipsum ducimus assumenda ipsam obcaecati laudantium maxime voluptatum nihil nobis ut ad placeat officia, ab quod cum hic. fdsalkjfjdsgfdsfjdsjkafghdsghfdsjkfjdsfhdsgfdsgafdsghfdsfbdshjftdsfhdsgadfsfdsafdsafdsafdsdsafdsafdsafdsfdsaf</p>
                    <h1>A</h1>
                    
                </div> 

                <div class="col col-md-3 col-xs-3">
                    <img src="//img/logo.png" alt="">
                    <p style="word-wrap:break-word ;">kjfdshgfdsfdsalkjfjdsgfdsfjdsjkafghdsghfdsjkfjdsfhdsgfdsgafdsghfdsfbdshjftdsfhdsgadfsfdsafdsafdsafdsdsafdsafdsafdsfdsaf</p>
                    <h1>A</h1>
                </div>  -->
        

            </div>
           </section>

          <section class="container">
            <h1>Contacts</h1>
            <nav class="nav">
                <ul class="navbar-nav flex-row d-flex ">
                    <li class="nav-item contacts">
                        <a class="nav-link active" aria-current="page" href="https://wa.me/258846942057" target="_blank "><img src="/img/whatsapp.png" alt=""></a>
                        <a class="nav-link active" aria-current="page" href="https://t.me/dev_emede" target="_blank "><img src="/img/telegram.png" alt=""></a>
                    </li>
                </ul>
            </nav>
          </section> <!--container-->

            

          
        </div>
    </footer> <!--back_color-->
  



    
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bundle.js"></script>
     
</body>
</html>