<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <meta name="description" content="Image to Text Made Simple, The Best to Convert Image to Text">
    <meta property="og:description" content="convert image to text. Why not use the best PDF software to convert Image to Text?" >
    <meta name="author" content="convertImageTotext">
    <meta name="keywords" content="">
    <meta name="robots" content="index, nofollow"> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap-grid.rtl.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">


<script src="/tinymce/tinymce.js"></script>
<script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'advlist paste autolink contextmenu copy lists link image charmap preview anchor pagebreak',
      toolbar_mode: 'floating paste pastetext ',
      contextmenu: "paste  link image inserttable cell row column deletetable copy"
    });
  </script>

</head>

<body>